                        /* DEBUT MEDIA QUERIES ANAIS */
body{
    width: 100%!important;
    height: 100%;
}

ul{
    display: none;
}

.menu{
    float: right;
width: 10%;
height: auto;
margin: 60px;
display: block;
}

.le_titre_creatives{
    top: 20%;
}

.colone{
    display: block;
    width:100%;
}

.paragraphe{
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 25px;
}

                        /* FIN MEDIA QUERIES ANAIS */

                        /* DEBUT MEDIA QUERIES TAYLOR */

/* @media screen and (max-width: 860px) { */
    #middle{
        display: flex;
        flex-wrap: wrap;     
}
/* } */

/* @media screen and (max-width: 815px) { */
    #middle{
        display: flex;
        flex-wrap: wrap;
        display: initial;   
}
        
.fulltext{
    width:100%;
    height: 500px;
    display: flex;
    background-color: #222222;
    color: white;
    flex-wrap: wrap;
 }
        
.box{
    width:100%; 
    position: relative;
}
        
.text2{
    font-family:'gothamlight';
    margin-top: 100px;
    margin-left: 110px;
}

.text3{
    font-family: 'gothambook';
    margin-top: 130px;
    margin-left: -190px;
    margin-bottom: 70px;
    font-size: 25px;
    text-transform: uppercase;
}

.text4{
    font-family:'gothamlight' ;
    margin-left: 110px;
    margin-right: 110px;
    margin-top: -120px;
    line-height: 25px;
 }
    
.fulltext2{
    width:100%;
    height: 500px;
    display: flex;
    background-color: #f3f3f3;
    color: #222222;
    flex-wrap: wrap;
}
/* 
.box2{
    width:50%; 
    overflow: hidden;
} */

.grandb{
    margin-top: 150px;
    text-align: center;
}

.letsblog{
    font-family: 'gothambook';
    text-transform: uppercase;
    margin-top: -148px;
    font-size: 35px;
    text-align: center;
    justify-content: center;
}

.phrasefinish{
    font-family:'gothambook';
    text-align: center;
    margin-top: 150px;
    font-size: 25px;
}
    
.fulltext{
    width:100%;
    display: flex;
    background-color: #222222;
    color: white;
    flex-wrap: wrap;
}
    
.box{
     width:100%; 
    position: relative;
}
    
.text2{
    font-family:'gothamlight';
    margin-top: 50px;
    margin-left: 110px;
}

.text3{
    font-family: 'gothambook';
    margin-top: 90px;
    margin-left: -190px;
    margin-bottom: 150px;
    font-size: 25px;
    text-transform: uppercase;
}

.text4{
    font-family:'gothamlight' ;
    margin-left: 110px;
    margin-right: 110px;
    margin-top: -120px;
    line-height: 25px;
}
    
.fulltext2{
    width:100%;
    display: flex;
    background-color: #f3f3f3;
    color: #222222;
    flex-wrap: wrap;
}

.box2{
    width:100%;     
}

/* .haut{
    width: 50%;
    height: auto;
} */

/* .bas{
    width: 100%;
    height: auto;
} */

    /* section 2 */
.grandb{
    margin-top: 150px;
    text-align: center;
}

.letsblog{
    font-family: 'gothambook';
    text-transform: uppercase;
    margin-top: -148px;
    font-size: 35px;
    text-align: center;
    justify-content: center;
}

.phrasefinish{
    font-family:'gothambook';
    text-align: center;
    margin-top: 150px;
    font-size: 25px;
}
/* } */
                                /* FIN MEDIA QUERIES TAYLOR */
.main{
    display: block;
    width:70%;
    height: auto;
    margin: 15%;
   text-align: center;
}

.icone::before{
    content: url(imag/Write_copy_2.png);
    
    display: flex;
}
.article{
    width: 300px!important
}

.zak{
    display: block;
    width:100%;
    height: 600px;
    padding-top: 100px;
   
   
}
.picture_left{
   text-align: center;
   float: none;
   width:100%!important;
  
  
}
.text_icone{
    text-align: center;
    font-size: 25PX;
}
.text_icone2{
    text-align: center;
    font-size: 25PX;
}

.myr{
    position: absolute;
    margin-left: 350px;
    margin-top: 100px;
    padding-top: 100px;
}
.sim{
    width: 100%;
    height: 400px;
}
p{
    
    font-size: 25px;
}